body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f6f8;
}

header {
    background-color: #0a3d62;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #1e3799;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    background: white;
    margin: 20px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #0a3d62;
    color: white;
}
